.list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: calc((100% - 8 * 10px) / 4);
  margin: 10px;
  transition: transform 250ms ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}